
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Thibault NORMAND",
      "url": "http://zenithar.org",
      "sameAs": [
        "https://twitter.com/zenithar/",
        "https://www.linkedin.com/in/zenithar/",
        "https://github.com/Zenithar/",
        "https://plus.google.com/u/0/+ThibaultNormand"
      ],
      "image": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.author.image }}",
        "height": 80,
        "width": 80
      }
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "@id": "{{ .Site.BaseURL }}",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.author.image }}",
        "height": 80,
        "width": 80
      }
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{ .Site.BaseURL }}",
      "name": "{{ .Site.Title }}",
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author.firstName }} {{ .Site.Params.author.lastName }}"
      },
      "description": "{{ .Site.Params.Description }}"
    }
    </script>

      {{ if .IsPage }}
      <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "BlogPosting",
          "headline": "{{ .Title | safeJS}}",
          "description": "{{ printf "%s" .Description }}",
          "author": {
              "@type": "Person",
              "name": "{{ .Site.Params.author.firstName }} {{ .Site.Params.author.lastName }}"
          },
          "publisher": {
              "@type": "Organization",
              "name": "{{ .Site.Title }}",
              "logo": "{{ .Site.Params.author.image }}"
          },
          {{ if .Params.image }}"image": {
            "@type": "ImageObject",
            "url": "{{ absURL .Params.image }}",
            "height": 133,
            "width": 200
          },{{ else }}
          "image": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.author.image }}",
            "height": 80,
            "width": 80
          },{{ end }}
          "datePublished": "{{ .Date.Format "2006-01-02" }}",
          "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
          "wordCount": {{ .WordCount }}
          {{ if .Params.tags }},
          "keywords": {{ .Params.tags | jsonify }} {{ end }}
      }
    </script>
  {{ end }}
