<!DOCTYPE html>
<html class="no-js" lang="fr-FR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ template "chrome/meta.html" . }}

    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "chrome/head_includes.html" . }}
</head>
<body lang="fr">

<!-- Markup -->
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://whatbrowser.org">Upgrade your browser today</a> to better experience this site.</p>
<![endif]-->


<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u-1">
        {{ template "chrome/subheader.html" . }}
    </div>

    <div class="content pure-u-1">

        {{ $baseurl := .Site.BaseUrl }}

        <article itemscope itemtype="http://schema.org/SoftwareApplication" class="post pure-u-1" lang="fr-fr" id="post">
            <header class="post-header">

                <h1 class="post-title pure-u-1">
                    <a itemprop="url" href="{{ .Permalink }}" rel="self"><span itemprop="name" property="dcterms:title">{{ .Title }}</span></a>
                </h1>

                <p class="post-meta pure-u-1">
                    <span itemprop="datePublished" property="dc:date dc:created" content="{{ .Date.Format "2006-01-02" }}" datatype="xsd:dateTime" rel="sioc:has_creator">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
                </p>
        
                <p class="post-meta pure-u-1">
                    Tags :
                    {{ range .Params.tags }}
                    <a itemprop="articleSection" class="post-category" typeof="skos:Concept" property="rdfs:label skos:prefLabel" href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                     - {{ .FuzzyWordCount }} Words
                </p>

            </header>

        {{if isset .Params "project_name" }}
            <h2 itemprop="name"> {{ index .Params "project_name" }} </h2>
        {{ end }}

        {{if isset .Params "project_description" }}
            <em itemprop="name"> {{ index .Params "project_description" }} </em>
        {{ end }}
        <span class="smaller" itemprop="author" itemscope itemtype="http://schema.org/Person">
            by <span itemprop="name">Steve Francia.</span></span><br>
        {{if isset .Params "official_url" }} <a href="{{ index .Params "official_url" }}">{{ index .Params "official_url"}}</a> {{end}}<br>
        {{if isset .Params "download_url" }} <a id="download_link" class="pure-button" href="{{ index .Params "download_url" }}">
            <i class="icon-cloud-download"></i> Download{{if isset .Params "version" }}<span itemprop="softwareVersion"> {{ index .Params "version" }}</span>{{end}}
        {{if isset .Params "release_date" }}<br> <time itemprop="dateModified" datetime="{{ index .Params "release_date" }}" id="software_date"> {{ index .Params "release_date" }} </time> {{end}}
             </a><br>{{end}}
        {{if isset .Params "software_image" }} <meta itemprop="image" content="{{ index .Params "software_iamge" }}">{{end}}
        {{if isset .Params "download_url" }}<meta itemprop="downloadURL" content="{{ index .Params "download_url" }}">{{end}}
        <meta itemprop="publisher" content="{{ index .Params "publisher" | or "spf13.com" }}">
        <meta itemprop="softwareApplicationCategory" content="{{ index .Params "software_category" | or "UtilitiesApplication" }}">
        <meta itemprop="operatingSystems" content="{{ index .Params "operating_system" | or "Windows 7 and above, OSX 10.7 and above, linux" }}">
        
            <div class="pure-u-1">
                <div class="post-description pure-u-1" property="sioc:content" itemprop="articleBody">
                    {{ .Content }}
                </div>
            </div>

            {{if isset .Params "project_url" }}
            <div id="outer_ribbon">
            <div id="ribbon">
                <a href="{{ index .Params "project_url" }}" rel="me">Fork me on GitHub</a>
            </div> </div>
            {{ end }}

            {{ template "chrome/meta_aside.html" . }}

            {{ template "chrome/disqus.html" . }}
        
        </article>
    </div>

    <div class="pure-u-1">
    {{ template "chrome/footer.html" }}
    </div>

</div>

</body>
</html>
