/*
    Pure CSS blog layout: http://purecss.io/combo/1.3.7?/css/layouts/blog.css
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(142, 142, 214);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h2 {
    margin: 0.3em 0;
}

/* LAYOUT CSS */
#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    background: #000; /* #2c3e50 */
    color: #fff;
    border-right: 5px solid #27AE60;
    border-bottom: 0;
}

.header {
    margin: 50% 2em 0;
    text-align: right;
}

.brand-title,
.brand-tagline {
    margin: 0;
}

.brand-tagline {
    font-weight: 300;
    color: #95A5A6;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 3em 0;
}

.post {
    padding-bottom: 2em;
}

.post-author {
    margin-top: 40px;
    padding: 15px;
    border-radius: 15px;
    background: #ecf0f1;
}

.post-author h3 {
    padding: 10px;
    margin: 0;
}

.post-container {
    padding-left: 15px;
    margin-bottom: 5px;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-title a {
    color: #000;
}
.post-title a:hover {
    text-decoration: none;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin-bottom: 1px;
}

.post-link {
    color:#333;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.5em 1em;
    color: #2c3e50;
    background-color: #ecf0f1;
    font-size: 70%;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
    color: #999;
    font-size: 80%;
}
.footer a {
    color: #999;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        border-right: 0;
        border-bottom: 5px solid #27AE60;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }

    .nav-item {
        display: inline-block;
        *display: inline;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}


.social-icons {
    background-size: 48px 48px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 2px 2px 2px 2px;
}

.si-me {
    background-color: #27ae60;
    background-image: url(/images/aboutme-48.png);
}

.si-drupal {
    background-color: #0075BB;
    background-image: url(/images/drupal-48.png);
}

.si-linkedin {
    background-color: #007FB1;
    background-image: url(/images/linkedin-48.png);
}

.si-github {
    background-color: #4183C4;
    background-image: url(/images/github-48.png);
}

.si-twitter {
    background-color: #00ACED;
    background-image: url(/images/twitter-48.png);
}

.si-rss {
    background-color: #FF8300;
    background-image: url(/images/rss-48.png);
}

hgroup a, hgroup a:hover {
    text-decoration: none;
    color: #fff;
}

.navlinks-prev {
    float: left;
}

.navlinks-next {
    float: right;
}


#behind-this-blog-list {
    display:none;
}

#behind-this-blog-show {
    display: none;
}

#behind-this-blog:target + #behind-this-blog-show {
    display: inline;
}

#behind-this-blog:target {
    display: none;
}

#behind-this-blog:target ~ #behind-this-blog-list {
    display:inline;
}

.social-button {
    float: left;
    width: 90px;
}

.post-social {
    display: inline-block;
    margin: 15px;
    width: 100%;
}

.post-disqus {
    margin-top: 20px;
}

pre.highlighted {
    font-size: .75em;
    line-height: 1.5em;
    border: 1px solid #D2d2d2 !important;
    border-bottom: none !important;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border: 1px solid #D2d2d2 !important;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

pre.highlighted > code {
    padding: 12px !important;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.gist {
    margin: 15px 0 !important;
    font-size: 0.75em;
    line-height: 1.5em;
}

.gist-file{
  border: none !important;
}
 
.gist-meta{
  border: 1px solid #D2d2d2 !important;
  padding: 12px !important;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
 
}
 
.gist-data{
  padding: 15px !important;
  border: 1px solid #D2d2d2 !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}

.post h1 {
    border-bottom: 1px dotted gray;
}

.post h2 {
    border-bottom: 1px dotted silver;
}

.pure-paginator {
    margin: 0 auto;
}

.pure-paginator .pure-button {
    height: 3.0em;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
