<!DOCTYPE html>
<html class="no-js" lang="fr-FR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ template "chrome/meta.html" . }}

    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "chrome/head_includes.html" . }}
</head>
<body lang="fr">

<!-- Markup -->
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://whatbrowser.org">Upgrade your browser today</a> to better experience this site.</p>
<![endif]-->


<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u-1">
        {{ template "chrome/subheader.html" . }}
    </div>

    <div class="content pure-u-1">

		{{ $baseurl := .Site.BaseUrl }}

		<article itemscope itemtype="http://schema.org/Article" class="post pure-u-1" typeof="sioc:Post foaf:Document" lang="fr-fr" id="post">
			<header class="post-header">

				<h1 class="post-title pure-u-1">
			        <a itemprop="url" href="{{ .Permalink }}" rel="self"><span itemprop="name" property="dcterms:title">{{ .Title }}</span></a>
			    </h1>

			    <p class="post-meta pure-u-1">
            		<span itemprop="datePublished" property="dc:date dc:created" content="{{ .Date.Format "2006-01-02" }}" datatype="xsd:dateTime" rel="sioc:has_creator">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
        		</p>
        
        		<p class="post-meta pure-u-1">
		            Tags :
		            {{ range .Params.tags }}
		            <a itemprop="articleSection" class="post-category" typeof="skos:Concept" property="rdfs:label skos:prefLabel" href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
	          		{{ end }}
	          		 - {{ .FuzzyWordCount }} Words
        		</p>

			</header>

			<div class="pure-u-1">
			    <div class="post-description pure-u-1" property="sioc:content" itemprop="articleBody">
			        {{ .Content }}
			    </div>
			</div>


			{{ template "chrome/meta_aside.html" . }}

			{{ template "chrome/disqus.html" . }}
		
		</article>
	</div>

    <div class="pure-u-1">
    {{ template "chrome/footer.html" }}
    </div>

</div>

</body>
</html>