{{ $baseurl := .Site.BaseUrl }}
    <div class="post-navlinks pure-u-1">
      &nbsp;{{if .Prev}}<a href="{{.Prev.Permalink}}" title="Previous Post: {{.Prev.Title}}" class="navlinks-prev">&laquo; {{.Prev.Title}}</a>{{end}}
      &nbsp;{{if .Next}}<a href="{{.Next.Permalink}}" title="Next Post: {{.Next.Title}}" class="navlinks-next">{{.Next.Title}} &raquo;</a>{{end}}
    </div>

    <div class="post-related pure-u-1">
        <section id="author">
          <h4>Pour un peu plus de lecture ...</h4>
          <ul id="list">
          {{ range first 5 .RelatedPages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }} - {{ .ReadingTime }} Minutes</a>
          </li>
          {{ end }}
          </ul>
        </section>
    </div>

    <div class="post-author pure-u-1" itemprop="author" itemscope itemtype="http://schema.org/Person"> 
        <h3 class="pure-u-1">A propos de l'auteur</h3>
        <div class="pure-u-1">
            <img class="pure-1-6 post-avatar" src="http://www.gravatar.com/avatar/1a2807faf3cca1667ff6f04bf5886eff.png" />
            <p class="pure-u-4-6"><a href="http://profiles.google.com/thibault.normand?rel=author" itemprop="name" rel="author">Thibault Normand</a> est un dévéloppeur et un bloggeur enthousiaste, curieux de toutes nouvelles technologies liées à la sécurité, l'architecture, et le web. <a href="http://zenithar.org/" rel="me">Plus d'infos...</a></p> 
        </div>
    </div>
