<ul>
    <li class="nav-item">
        <a class="social-icons si-me" rel="nofollow" target="_new" title="About me" href="http://zenithar.org"></a>
    </li>
    <li class="nav-item">
        <a class="social-icons si-github" rel="nofollow" target="_new" title="GitHub Profile" href="https://github.com/zenithar"></a>
    </li>
    <li class="nav-item">
        <a class="social-icons si-twitter" rel="nofollow" target="_new" title="Follow me" href="https://twitter.com/zenithar"></a>
    </li>
    <li class="nav-item">
        <a class="social-icons si-rss" rel="nofollow" target="_new" title="Subscribe in a reader" href="/atom.xml"></a>
    </li>
</ul>