<header class="header">

    <hgroup>
        <a href="/">
            <h1 class="brand-title">Zenithar'z Blog</h1>
            <h2 class="brand-tagline">Il existe moins bien mais c'est plus cher</h2>
        </a>
    </hgroup>

    <nav class="nav">
        <ul class="">
            <li class="nav-item">
                <a class="social-icons si-me" rel="nofollow" target="_new" title="About me" href="http://zenithar.org"></a>
            </li>
            <li class="nav-item">
                <a class="social-icons si-github" rel="nofollow" target="_new" title="GitHub Profile" href="https://github.com/zenithar"></a>
            </li>
            <li class="nav-item">
                <a class="social-icons si-linkedin" rel="nofollow" target="_new" title="LinkedIn Profile" href="https://linkedin.com/in/zenithar"></a>
            </li>
            <li class="nav-item">
                <a class="social-icons si-twitter" rel="nofollow" target="_new" title="Follow me" href="https://twitter.com/zenithar"></a>
            </li>
            <li class="nav-item">
                <a class="social-icons si-rss" rel="nofollow" target="_new" title="Subscribe in a reader" href="<%= @site.url %>/atom.xml"></a>
            </li>
        </ul>
    </nav>
</header>