.gist {
  font-size: 0.85em;
  line-height: 1.5em; 

  -webkit-font-smoothing: subpixel-antialiased;
  ::-moz-selection, ::-webkit-selection, ::selection {
    color: #FCF4DC;
    background: #fff;
  }
  color: #819090 !important;
  
  .gist-file {

    border: 1px solid #042029 !important;
    font-family: 'Anonymous Pro','Droid Sans Mono','DejaVu Sans Mono',Monaco,Consolas,'Lucida Console',Courier,monospace !important;

    .gist-meta {
      color: #475B62 !important;
      background-color: #042029 !important;
      a {
        color: #EAE3CB !important;
        color: #819090 !important;
      }
    }

    .gist-data {

      border-bottom: 1px solid #042029 !important;
      background-color: #0A2933 !important;
    
      pre {
        font-family: 'Anonymous Pro','Droid Sans Mono','DejaVu Sans Mono',Monaco,Consolas,'Lucida Console',Courier,monospace !important;
      }

      .gist-line-numbers {
        color: #475B62 !important;
        border-right: 1px solid #042029 !important;
        background-color: #042029 !important;
      }

    }
  }
}

.gist-syntax {
  background: #708284 !important;
  .c {
    color: #536870 !important;
  }
  .err {
    color: #708284 !important;
  }
  .k {
    color: #2176C7 !important;
  }
  .o {
    color: #708284 !important;
  }
  .cm, .cp, .c1, .cs {
    color: #536870 !important;
  }
  .gd {
    color: #708284 !important;
    background: #042029 !important;
    .x {
      color: #708284 !important;
      background: #042029 !important;
    }
  }
  .ge, .gr, .gh {
    color: #708284 !important;
  }
  .gi {
    color: #708284 !important;
    background: #042029 !important;
    .x {
      color: #708284 !important;
      background: #042029 !important;
    }
  }
  .go, .gp, .gu, .gt {
    color: #708284 !important;
  }
  .kc, .kd {
    color: #738A05 !important;
  }
  .kp, .kr, .kt {
    color: #708284 !important;
  }
  .m, .s {
    color: #259286 !important;
  }
  .na {
    color: #536870 !important;
  }
  .nb {
    color: #A57706 !important;
  }
  .nc {
    color: #708284 !important;
  }
  .nd {
    color: #595AB7 !important;
  }
  .no, .ni, .ne, .nf, .nn {
    color: #708284 !important;
  }
  .nt {
    color: #2176C7 !important;
  }
  .nv, .ow, .w {
    color: #708284 !important;
  }
  .mf, .mh, .mi, .mo, .sb, .sc, .sd, .s2, .se, .sh, .si {
    color: #259286 !important;
  }
  .sx {
    color: #A57706 !important;
  }
  .sr, .s1, .ss {
    color: #259286 !important;
  }
  .bp, .vc, .vg, .vi, .il {
    color: #708284 !important;
  }
}